[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
isort = "*"
black = "==20.8b1"
graphene = "*"
dynaconf = {version = "==3.1.2", extras = ["yaml"]}
sqlalchemy = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
