[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "==20.8b1"
dynaconf = {version = "==3.1.2", extras = ["yaml"]}
fastapi = "*"
graphene = "*"
graphene-sqlalchemy = "*"
isort = "*"
psycopg2 = "*"
pytest = "*"
sqlalchemy = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]

[requires]
python_version = "3.9"
